{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pessoas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <center>
        <br><br><br><br>
        <img src="{% static 'pessoa.png' %}" class="img-fluid" alt="Teste" width="15%">
        <br><br>
    </center>
    <form method="POST" action="{% url 'index_alias' %}">
        {% csrf_token %}
        <center>
            <p style="width:300px;">Bem Vindo ao Site de Pessoas</p>
            <div style="border-style: ridge; border-radius: 10px; width: 300px;">
                <br>
                <p><input type="text" name="username" class="border-top-0" placeholder="User Name" style="width:250px;"></p>
                <p><input type="password" name="password" class="border-top-0" placeholder="Password" style="width:250px;"></p>
                <p><input type="submit" value="Acessar" class="btn btn-info"></p>
            </div>
        </center>
    </form>
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
